@use 'setup';
@use 'mediaQueries';

$black: #14070E; 
$darkGreen: #365C46;
$lightGreen: #B6CAA2; 
$cream: #F8F4F3;
$lightPink: #F7E4DC;
$salmon: #DB9999; 

$titleFont: 'Playfair Display';
$bodyFont: 'Source Sans Pro';

body {
    font-family: $bodyFont;
    text-transform: lowercase;
    overflow-x: hidden;
    width: 100%;
}

span {
    text-transform: capitalize;
}

h1, 
h2 {
    font-family: $titleFont;
    margin: 0 auto;
}

h1 {
    text-shadow: 2px 2px #b33f7b;
    font-size: 6rem;
    text-align: center;

}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.25rem;

}

h4 {
    color: $darkGreen;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem
}

button {
    color: $black; 
    background-color: $salmon;
    border: none;
    padding: 10px 30px;
    font-family: inherit;
    text-transform: inherit;

    &:hover {
        cursor: pointer;
    }
}

.wrapper {
    max-width: 2000px;
    width: 70%;
    margin: 0 auto;

}

header {
    color: white;
    background: url(../assets/pexels-aditya-aiyar-1407305.jpg);
    background-size: cover; 
    min-height: 100vh;
    padding-top: 10px;

}

.headerText {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.about {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    text-align: center;

    img {
        height: 270px;
        width: 270px;
        border-radius: 50%;
        align-self: center;
        margin-top: 100px;
        margin-bottom: 20px;
    
    }


}

.skills {
    background: $darkGreen;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 80px;
    }

    p {
        font-size: 1.35rem;
    }
}

.iconContainer {
    display: flex; 
    justify-content: center;
}

.icons  {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    align-self: center;
    gap: 60px;
    text-align: center;

}

.projects {
    background-color: $cream;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;

    img {
        height: 300px;
        width: 550px;
    }

    h2 {
        margin-bottom: 80px;
    }
}

.projectGrid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;

    h3 {
        margin: 14px 7px 7px 7px;
    }

    h4  {
        margin: 7px;
    }
    
    p {
        margin: 7px 7px 14px 7px;
    }

    button {
        margin-bottom: 15px;
    }
}

.projectContainer {
    background-color: white;
    margin: 30px;
}

.projectTextContainer {
    padding: 0px 0px 30px 25px;
    margin: 0px;
}

.contact {
    background-color: $lightGreen;
    padding: 40px;
    text-align: center;

    ul {
        gap: 20px;
        padding-left: 0px;
    }

    a {
        color: white;
    }
}


footer {
    text-transform: capitalize;
    background-color: $darkGreen;
    color: white;
    padding: 10px;
    text-align: center;
}

